@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
  html{
    scroll-behavior: smooth;
  }

  body{
    @apply bg-slate-900 text-white relative overflow-x-hidden
  }

  button{
    @apply hover:scale-95 transition-all duration-100
  }

  input{
    @apply px-4 py-2 bg-slate-600 rounded-xl
  }

  ::-webkit-scrollbar {
    width: 10px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: bg-slate-800;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: bg-lime-500;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: bg-lime-600;
  }

}

@layer utilities{
  .btn{
    @apply px-4 py-2 text-sm capitalize rounded-xl self-start
  }

  .btn-primary{
    @apply border bg-slate-700 border-slate-700 text-lime-400
  }

  .btn-primary-outline{
    @apply border border-lime-400 text-lime-400
  }

  .btn-danger{
    @apply border bg-red-600 border-red-600
  }

  .input-group{
    @apply flex flex-col gap-4
  }
}